test.ipynb
test.py
matrixInverse.py.lprof
prof3D.txt
prof3D2.txt
simulation3D.py.lprof
temp_train.txt
temp.3D.txt
temp.txt
test_log.txt
testDiag_all.npy
profiling.txt
src/1D_GBM.ipynb
jax_gpu.py
matrixDet.py
matrixInverse.py
matrixInverseMinimal.py
figures
docs/build/